# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
.Rd2pdf19942/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

.RData
